version: 2.1
orbs:
  aws-eks: circleci/aws-eks@0.2.7
  kubernetes: circleci/kubernetes@0.4.0
  slack: circleci/slack@3.4.1
jobs:
  build_test_push:
    docker:
    - image: circleci/node:10.9
    environment:
    # - SHORT_SHA: $(echo $CIRCLE_SHA1 | cut -b1-7)
    - TAG_NAME: "branch-$CIRCLE_BRANCH"
    - IMAGE_PATH: "geetikasharma7/hello-world"
    # - KC_ADMIN_USERNAME: "circleci"
    steps:
    - checkout
    - setup_remote_docker:
        docker_layer_caching: false
    - run:
        name: Build Docker Image
        command: 'docker build -t $IMAGE_PATH:$CIRCLE_BUILD_NUM .'
    - run:
        name: Push Docker Image
        command: 'if  [ "$CIRCLE_BRANCH" == "development" ] ||  [ "$CIRCLE_BRANCH" == "master" ] || [ "$CIRCLE_BRANCH" == "production" ] ; then  bash ~/project/.circleci/deploy.sh; fi'
    - slack/notify:
        color: '#42e2f4'
        mentions: 'U011D4UUF6K'
        message: "Built Docker Image for $CIRCLE_BRANCH. hello-world:${CIRCLE_BRANCH}_${CIRCLE_BUILD_NUM} will be deployed on EKS Cluster in few seconds."
        channel: C011D4UUJH5

  build_status:
    docker:
    - image: circleci/node:10.9
    steps:
    - slack/status:
        message: "Custom Message"
        channel: C011D4UUJH5

workflows:
  version: 2
  deployment:
    jobs:
      - build_test_push
      - aws-eks/update-container-image:
          cluster-name: testCircleCi
          resource-name: "deployment/helloworld-deployment"
          container-image-updates: "helloworld=geetikasharma7/hello-world:${CIRCLE_BRANCH}_${CIRCLE_PREVIOUS_BUILD_NUM}"
          record: true
          requires:
             - build_test_push
      - build_status
