version: 2.1
orbs:
  aws-eks: circleci/aws-eks@0.2.7
  kubernetes: circleci/kubernetes@0.4.0
jobs:
  build_test_push:
    docker:
    - image: circleci/node:10.9
    environment:
    # - SHORT_SHA: $(echo $CIRCLE_SHA1 | cut -b1-7)
    - TAG_NAME: "branch-$CIRCLE_BRANCH"
    - IMAGE_PATH: "geetikasharma7/hello-world"
    # - KC_ADMIN_USERNAME: "circleci"
    steps:
    - checkout
    - setup_remote_docker:
        docker_layer_caching: false
    - run:
        name: Build Docker Image
        command: 'docker build -t $IMAGE_PATH:$CIRCLE_BUILD_NUM .'
    - run:
        name: Push Docker Image
        command: 'if  [ "$CIRCLE_BRANCH" == "development" ] ||  [ "$CIRCLE_BRANCH" == "master" ] || [ "$CIRCLE_BRANCH" == "production" ] ; then  bash ~/project/.circleci/deploy.sh; fi'
  deploy:
    docker: 
    - image: circleci/python:3.7
    steps: 
    - run: 
        name: Install AWS cli
        command: sudo pip3 install awscli
    - run:
        name: Upgrade AWS cli
        command: sudo pip3 install --upgrade awscli
    - run:
        name: Install and confgure kubectl
        command: |
            curl -o kubectl https://amazon-eks.s3-us-west-2.amazonaws.com/1.13.7/2019-06-11/bin/linux/amd64/kubectl
            chmod +x ./kubectl
            sudo mv ./kubectl /usr/local/bin/kubectl
    - run:
        name: Install and confgure kubectl aws-iam-authenticator
        command: |
            curl -o aws-iam-authenticator curl -o aws-iam-authenticator https://amazon-eks.s3-us-west-2.amazonaws.com/1.13.7/2019-06-11/bin/linux/amd64/aws-iam-authenticator
            chmod +x ./aws-iam-authenticator
            sudo mv ./aws-iam-authenticator /usr/local/bin/aws-iam-authenticator
    - run:
        name: Set kubernetes cluster variables w.r.t branch
        command: |
          if [ "$CIRCLE_BRANCH" == "master" ]
          then 
            export AWS_REGION="us-east-2"
            export EKS_CLUSTER_NAME="testCircleCi"
            export DEPLOYMENT="helloworld-deployment"
            export CONTAINER="helloworld"
            export DOCKERHUB_ACCOUNT_NAME="geetikasharma7"
            export REPOSITORY_NAME="hello-world"
          fi
    - run:
        name: Configure
        command: aws eks update-kubeconfig --name ${EKS_CLUSTER_NAME} --region ${AWS_REGION} --alias ${EKS_CLUSTER_NAME}

    - run:
        name: Update the kubernetes image
        command: kubectl set image deployment/${DEPLOYMENT} ${CONTAINER}=${DOCKERHUB_ACCOUNT_NAME}/${REPOSITORY_NAME}:${CIRCLE_BRANCH}_${CIRCLE_PREVIOUS_BUILD_NUM}
workflows:
  version: 2
  deployment:
    jobs:
      - build_test_push
      - deploy:
          requires:
             - build_test_push
