version: 2.1
orbs:
  aws-eks: circleci/aws-eks@0.2.7
  kubernetes: circleci/kubernetes@0.4.0
jobs:
  build_test_push:
    docker:
    - image: circleci/node:10.9
    environment:
    # - SHORT_SHA: $(echo $CIRCLE_SHA1 | cut -b1-7)
    - TAG_NAME: "branch-$CIRCLE_BRANCH"
    - IMAGE_PATH: "geetikasharma7/hello-world"
    # - KC_ADMIN_USERNAME: "circleci"
    steps:
    - checkout
    - setup_remote_docker:
        docker_layer_caching: false
    - run:
        name: Build Docker Image
        command: 'docker build -t $IMAGE_PATH:$CIRCLE_BUILD_NUM .'
    - run:
        name: Push Docker Image
        command: 'if  [ "$CIRCLE_BRANCH" == "development" ] ||  [ "$CIRCLE_BRANCH" == "master" ] || [ "$CIRCLE_BRANCH" == "production" ] ; then  bash ~/project/.circleci/deploy.sh; fi'
  deploy:
    docker: 
    - image: circleci/golang:1.10
    steps: 
    - checkout
    - run: 
        name: Install AWS cli
        command: export TZ=Europe/Minsk && sudo ln -snf /usr/share/zoneinfo/$TZ /etc/localtime && echo $TZ > sudo  /etc/timezone && sudo apt-get update && sudo apt-get install -y awscli
    - run:
        name: Install and confgure kubectl
        command: sudo curl -L https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl -o /usr/local/bin/kubectl && sudo chmod +x /usr/local/bin/kubectl  
    - run:
        name: Install and confgure kubectl aws-iam-authenticator
        command: curl -o aws-iam-authenticator https://amazon-eks.s3-us-west-2.amazonaws.com/1.10.3/2018-07-26/bin/linux/amd64/aws-iam-authenticator && sudo chmod +x ./aws-iam-authenticator && sudo cp ./aws-iam-authenticator /bin/aws-iam-authenticator
    - run:
        name: Install latest awscli version
        command: sudo apt install unzip && curl "https://s3.amazonaws.com/aws-cli/awscli-bundle.zip" -o "awscli-bundle.zip" && unzip awscli-bundle.zip &&./awscli-bundle/install -b ~/bin/aws
    - run:
        name: Set kubernetes cluster variables w.r.t branch
        command: |
          if [ "$CIRCLE_BRANCH" == "master" ]
          then 
            export AWS_REGION="us-east-2"
            export EKS_CLUSTER_NAME="testCircleCi"
            export DEPLOYMENT="helloworld-deployment"
            export CONTAINER="helloworld"
            export DOCKERHUB_ACCOUNT_NAME="geetikasharma7"
            export REPOSITORY_NAME="hello-world"
          fi
    - run:
        name: Get the kubeconfig file 
        # command: export KUBECONFIG=$HOME/.kube/kubeconfig && /home/circleci/bin/aws eks --region $AWS_REGION update-kubeconfig --name $EKS_CLUSTER_NAME
        command: aws eks --region $AWS_REGION update-kubeconfig --name $EKS_CLUSTER_NAME
    - run:
        name: Update the kubernetes image
        command: kubectl set image deployment/${DEPLOYMENT} ${CONTAINER}=${DOCKERHUB_ACCOUNT_NAME}/${REPOSITORY_NAME}:${CIRCLE_BRANCH}_${CIRCLE_PREVIOUS_BUILD_NUM}
workflows:
  version: 2
  deployment:
    jobs:
      - build_test_push
      - deploy:
          requires:
             - build_test_push
